@import '02_variable', '03_mixin';

.modal-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 650px;
  background-color: black;
  

  
  .close-button {
    width: 16px;
    height: 16px;
    
  }

  .btnTab {
    display: flex;
    height: 54px;
    @include centerContainer (290px);
    margin: 65px 50px 54px 50px;

    a{
      color: $white;
      width: 146px;
      @include displayFlexAllCenter;
      @include textStyling (1.5rem, 700);
      text-transform: uppercase;
      letter-spacing: 0.72px;
    }

    .login {
      background-color: $red;  
      border-radius: 0px 8px 8px 0px;
    }
    
    .signup {
      border: 1px solid $white;
      border-radius: 8px 0px 0px 8px;
    }
    
  }

  form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include centerContainer (290px);
    gap: 25px;
    input[type="text"],
    input[type="password"] {
      border: none;
      outline: none;
      width: 250px;
      height: 44px;
      border-radius: 8px;
      color: black;
      font-weight: 400;
      font-size: 1rem;
      padding-left: 20px;
      }

      .remember {
        label {
          @include textStyling (1rem, 400);
        }
      }

  }
  .bottom {
    @include displayFlexAllCenter;
    flex-direction: column;
    gap: 30px;
    button {
      border: none;
      outline: none;
      width: 288px;
      height: 47px;
      @include centerContainer (290px);
      @include textStyling (1.25rem, 700);
      letter-spacing: 0.6px;
      text-transform: uppercase;
      background-color: $red;
      border-radius: 8px;
      }

      .signup {
        @include textStyling (0.875rem, 400);
        gap: 19px;
        p {
          margin-top: 19px;
        }
        
        a {
          color: $red;
        }

    }
  }
  
  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}