@import '01_reset', '02_variable', '03_mixin', '04_navBar', '05_searchBar', '06_resultsSearch', 
        '07_latestRelease', '08_movieByGenre', '09_footer', '10_modals';

@media screen and (max-width: 1100px) {
    .grid-latest-release {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}